#RAR

Traductor Español Quechua_Clase_3.rar

data/raw/*.pdf
data/raw/*.rar
notebooks/EDA/EDA_Traductor_old.ipynb

data/raw/05 manualparaelempleodelquechuachankaenlaadministraciondejusticia.docx
data/raw/05 PRE CORPUS manualparaelempleodelquechuachankaenlaadministraciondejusticia.xlsx
